/* Mobile View */

.container {
  font-family: "Ubuntu", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

form {
  width: 100%;
  padding: 8px;
}

.title {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #403866;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: block;
  font-weight: bolder;
  padding-bottom: 28px;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.inputs {
  font-family: "Ubuntu", sans-serif;
  color: #403866;
  line-height: 1.2;
  font-size: 18px;
  display: block;
  width: 100%;
  background: 0 0;
  height: 62px;
  border: none;
  border-radius: 3px;
  background-color: #e6e6e6;
  padding: 0 20px 0 38px;
}

.inputs:focus {
  border: 1px solid #827ffe;
  outline-offset: 0px;
  outline: none;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #8f8fa1;
  font-weight: bold;
}

.forgot-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.checkbox-label {
  font-size: 16px;
  color: #999;
  line-height: 1.2;
  display: block;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
}

.forgot {
  font-size: 16px;
  color: #827ffe;
  line-height: 1.4;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.button-design {
  font-family: "Ubuntu", sans-serif;
  background-color: #827ffe;
  width: 50%;
  height: 62px;
  border-radius: 3px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.button-design:hover {
  background-color: #403866;
  transition: all 0.4s;
}

.login-with {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  justify-content: center;
  align-items: center;
}

.login-label {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #999;
  line-height: 1.4;
  padding-bottom: 22px;
}

.socmed-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.socmedbtn {
  font-family: "Ubuntu", sans-serif;
  width: 50%;
  height: 42px;
  line-height: 1.2;
  font-size: 16px;
  border: 1px #e8e8e8 solid;
  background: none;
  border-radius: 3px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.socmedbtn:nth-child(1) {
  color: #4267b2;
}

.socmedbtn:nth-child(2) {
  color: #555555;
}

.clear {
  clear: both;
}

.checkBox {
  display: block;
  cursor: pointer;
  width: 13px;
  height: 13px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 1.5px #827ffe;
}

.checkBox div {
  width: 60px;
  height: 60px;
  background-color: #827ffe;
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 100;
}

.checkBox input[type="checkbox"]:checked + div {
  left: -10px;
  top: -10px;
}

.checkBox input[type="checkbox"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.transition {
  transition: 300ms ease;
}
